<div class="sky-header">
  <canvas #skyCanvas id="skyCanvas" height="300px"></canvas>
  <a routerLink='/' aria-label="Home">
    Home
    <svg  class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 153.15 134.9">
      <path fill="#2e50a2" d="M66.23,23H100L123,50.7V22.86h30.1V0H40.06V29.13H34.52C1.59,29.13-4.09,59.77,0,67.38-.09,75,1.59,105.63,34.52,105.63h5.54V134.9H153.15V112H123L99.9,84.2l.06,27.73H66.23M40,83.75s-.87,0-5.29,0-11,.26-11.39-16.41C23.74,50.71,30.43,51,34.69,51a36.87,36.87,0,0,1,5.29.18V83.75Z"
      />
    </svg>
  </a>
</div>

<nav id="kevin-nav">
  <div class="mountains"></div>
  <div class="container">
    <h1>Kevin Newman</h1>
    <a href="./assets/kevinnewman-resume.pdf" target="_blank">
      <i class="fa fa-file-text" aria-hidden="true"></i>
      Download Resume
    </a>
    <app-social-media-links></app-social-media-links>
  </div>
</nav>

<nav id="main-nav" [style.top]="position + 'px'">
  <div class="container">
    <div class="column md-ten xs-ten">
      <a routerLink='/'>
        <svg id="small-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 153.15 134.9">
          <path fill="#2e50a2" d="M66.23,23H100L123,50.7V22.86h30.1V0H40.06V29.13H34.52C1.59,29.13-.09,59.77,0,67.38-.09,75,1.59,105.63,34.52,105.63h5.54V134.9H153.15V112H123L99.9,84.2l.06,27.73H66.23M40,83.75s-.87,0-5.29,0-11,.26-11.39-16.41C23.74,50.71,30.43,51,34.69,51a36.87,36.87,0,0,1,5.29.18V83.75Z"
          />
        </svg>
      </a>
      <h3>{{ dataService.title | async }}</h3>
    </div>
    <div class="menu-toggle" (click)="openedBool = !openedBool" >
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <ul class="nine md-eleven column" [ngClass]="{'opened': openedBool}">
      <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <li><a routerLink="/projects" routerLinkActive="active-link">Projects</a></li>
      <li><a routerLink="/game-jams" routerLinkActive="active-link">Game Jams</a></li>
      <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
    </ul>
  </div>
</nav>
