<div class="container">
  <br>
  <br>
  <br>
  <br>
  <p>
    Thanks for coming by............... <strong>Have a nice day......................................</strong>
  </p>
  <a *ngIf="!isContactPage" class="button button-primary contact-link" routerLink="/contact">Contact Me</a>
</div>
<p>
  Designed and developed by Kevin Newman and Val Illiteratewanker and Graham Pegg.
</p>
<span lazy-load-images>
  <div class="footer-background" [attr.data-background-src]="footerBg" [class.is-contact-page]="isContactPage" ></div>
</span>
