# dependencies
/node_modules

# next.js
/.next/
/out/

# misc
npm-debug.log*
.DS_Store
Thumbs.db

# IDEs and editors
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
