.timeline-item {
    background: #fff;
    border-radius: 3px;
    padding: 12px;
    width: 100%;
    min-height: 200px;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -50% 0;
    }

    100% {
        background-position: 50% 0;
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #eaeaea 18%, #eeeeee 33%);
    background-size: 50% 100px;
    height: 200px;
    position: relative;
}

.background-masker {
    background: #fff;
    position: absolute;
    &.header-top,
    &.header-bottom,
    &.content-top,
    &.subheader-bottom,
    &.divider,
    &.header-left,
    &.header-right,
    &.subheader-right {
        top: 0;
        left: calc(287px + 1rem);
        right: 0;
        height: 31px;
    }
    &.divider {
        top: 0;
        left: 287px;
        right: 0;
        height: 200px;
        width: 1rem;
    }
    &.header-bottom {
        top: 18px;
        height: 31px;
    }
    &.subheader-right {
        top: 31px;
        height: 31px;
    }
    &.header-right {
        width: auto;
        left: 700px;
        right: 0;
    }
    &.subheader-right {
        width: auto;
        left: 700px;
        right: 0;
        left: 287px;
    }
    &.subheader-bottom {
        top: 30px;
        height: 10px;
    }
    &.content-second-line,
    &.content-third-line,
    &.content-second-end,
    &.content-third-end,
    &.content-first-end {
        top: 40px;
        left: 0;
        right: 0;
        height: 31px;
    }
    &.content-top {
        height: 20px;
        top: 180px;
    }
}

@media screen and (max-width: 768px) {
    .background-masker.content-top {
        height: 20px;
        top: 132px;
        left: 150px;
    }

    .background-masker.subheader-right {
        width: 100%;
        right: 0;
        left: 0;
        top: 152px;
        height: 10px;
    }

    .background-masker.divider {
        top: 122px;
        left: 0;
        right: 0;
        height: 10px;
        width: 100%;
    }
}
