<div class="container">
  @if ((projects | async).length === 0) {
    <div class="project-holder"
      >
      <placeholder-content></placeholder-content>
      <placeholder-content></placeholder-content>
      <placeholder-content></placeholder-content>
    </div>
  }
  @if ((projects | async).length) {
    <div>
      @for (project of (projects | async); track project) {
        <a routerLink="/project/{{ project.id }}"
          class="row"
          [@fadeInOut]="project" >
          <div class="project-holder">
            <div class="four column img-holder">
              <img src="{{ project.thumbnail_img }}"
                alt="{{ project.title }}"
                loading="lazy" />
            </div>
            <div class="eight column">
              <h3>{{ project.title }}</h3>
              <p>{{('projectsArray.' + project.id + '.short_body') | translate}}</p>
            </div>
          </div>
        </a>
      }
    </div>
  }
  @if (!showArchivedProjects) {
    <a
      class="button button-primary u-center-block"
      [ngStyle]="{'width': '140px'}"
    (click)="showMoreProjects()">{{'viewMore'| translate}}</a>
  }
  @if ((archivedProjects | async).length && showArchivedProjects) {
    <h2 class="archived-header">
      <span>{{'archivedProjects' | translate}}</span><hr>
    </h2>
  }
  @if ((archivedProjects | async).length && showArchivedProjects) {
    <div>
      @for (project of (archivedProjects | async); track project) {
        <a routerLink="/project/{{ project.id }}"
          class="row"
          >
          <div class="project-holder">
            <div class="four column img-holder">
              <img src="{{ project.thumbnail_img }}"
                alt="{{ project.title }}"
                loading="lazy" />
            </div>
            <div class="eight column">
              <h3>{{ project.title }}</h3>
              <p>{{('projectsArray.' + project.id + '.short_body') | translate}}</p>
            </div>
          </div>
        </a>
      }
    </div>
  }
</div>
