.container {

  height: 600px;
  display: block;
  @media (min-width: 700px) {
    height: 400px;
  }
}

.required {
  &:after {
    content: '*';
    color: red;
    float: right;
  }
}

.valid input, .valid textarea {
    border-bottom-color: green;
}

.invalid input, .invalid textarea {
    border-bottom-color: red;
}

.message {
  font-size: 12px;
  margin-top: -25px;
  position: absolute;
}

.column:nth-child(2n) {
  padding-right: 0;
}

.envelope {
  position: absolute;
  background: #f2f2f2;
  padding: 20px;
  margin-right: 0.5rem;
  &.is-sent {
    animation: launch 0.75s ease-in-out forwards;
  }
  &.failed-launch {
    animation: failed-launch 0.75s ease-in-out;
  }
}

.container {
  position: relative;
}

@keyframes launch {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
  10%,
  15% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  50%,
  100% {
    opacity: 0;
    -webkit-transform: translateY(-600px) scale(1);
    transform: translateY(-600px) scale(1);
  }
}

@keyframes failed-launch {
  
  0% {
    opacity: 0;
    -webkit-transform: translateY(-600px) scale(0.6);
    transform: translateY(-600px) scale(0.6);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(0px) scale(0.6);
    transform: translateY(0px) scale(0.6);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1);
  }
}