<div class="container">
  <div class="column ten">
    <h2>Hello weary traveller,</h2>
    <p> Well you made it this far. Take a break. Rest your fingers and enjoy the stars scrolling by. In the mean time you can check out my <a href="https://twitter.com/Helloooo_Newman"
         target="_blank">Twitter</a> for more of my random going ons.

        </p>
        <p>
    If you're interested in working with me, shoot me a message either through <a href="mailto:knewmanium@gmail.com" target="_blank">Email</a> / <a href="https://twitter.com/Helloooo_Newman"
       target="_blank">Twitter</a> / <a href="https://www.linkedin.com/in/helloooonewman/" target="_blank">LinkedIn</a>. Always looking for new interesting projects.
    </p>
    <p>

    </p>
  </div>
</div>
