// @media (prefers-color-scheme: dark) { // Prefer the brand of my site in white
.dark-mode {
    body, #main-nav, app-home {
        color: #fff;
        background: #222;
    }

    p, button, h1, h2, h3, h4, h5, h6, nav a, li::before {
        color: #fff;
    }

    .sky-header, #main-nav, #kevin-nav, ::-webkit-scrollbar-track {
        background: #222!important;
    }

    .mountains, .timeline-item {
      filter: brightness(0.43) saturate(0);
    }

    .logo path, #small-logo path {
      fill: #fff;
    }

    #skyCanvas {
      background: #171717;
    }

    .envelope {
      background: #333!important;
    }

    .project-detail-header:after {
      background-image: none!important;
    }

    input[type="email"], input[type="number"], input[type="date"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
      border: 1px solid #fff;
      background-color: #222;
      color: #fff;
      &::placeholder {
        color: #aaa;
      }
    }
    placeholder-content {
      margin-bottom: 15px;
      display: block;
    }

    &__btn {
      position: absolute;
      top: 30px;
      right: 10px;
      display: block;

      &--light {
        background: #fff;
        color: #222222d1 !important;
      }

      &--dark {
        background: #222;
        color: #fff !important;
      }
    }
}
