@media print {
  html {
    h1, h2, h3, h4, h5, h6, blockquote, dl, figure, form, ol, p, pre, table, ul {
      margin-bottom: 0.1rem;
    }
    h1 {
      margin-top: 10px;
    }
    h2 {
      font-size: 1.5rem;
    }
    h3, .employer__name, .employer__job-title {
      font-size: 1.25rem!important;
      display: inline-block !important;
    }
    h4 {
      font-size: 1.125rem;
    }

    .employer__details {
      display: inline;
      margin-left: 1rem;
    }

    app-header {
      position: relative;
      top: 0!important;
    }
    .print-link {
      display: block !important;
      color: white;
      line-height: 12px;
      margin-top: 5px;
      a {
        position: relative !important;
      }
    }

    .employer__name {
      margin-left: 0!important;
    }

    li {
      margin-bottom: 0rem;
    }

    main {
      margin-top: 0px;
    }

    nav#kevin-nav {
      transform: translateY(1px);
      margin-top: 15px;
      height: auto;
    }

    #kevin-nav .container {
      transform: translateY(10px);
    }

    #kevin-nav .mountains {
      background-image: url('/../assets/images/mountains.png') !important;
      background-size: cover !important;
      top: -23px !important;
      height: 47px !important;
    }

    .skills {

      ul, h3 {
        display: inline;
      }
      li {
        display: inline-block;
        &:before {
          padding: 0 5px;
          content: '-';
        }
      }
    }


    .education {
      p, h3 {
        display: inline;
        padding-right: 1rem;
      }
    }

    .employer__logo,
    .side-projects,
    .job p,
    .side-projects a .img-holder,
    .side-projects h2 span:nth-child(2),
    app-footer,
    .introduction,
    .dl-resume,
    #main-nav,
    .job-information button,
    .sky-header
     {
      display: none!important;
    }
  }
}
