<ng-container *ngIf="project$ | async as project">
    <div
        class="project-detail-header"
        [style.background-image]="'url(' + project?.main_img + ')'"
    ></div>
    <div class="container">
        <a
            href="{{ project.project_url }}"
            *ngIf="project.project_url != ''"
            class="project-link button button-primary"
            target="_blank"
            >{{'projectLink' | translate}}</a
        >
        <div class="row">
            <div class="eight column" id="project-summary">
                <h3>{{'projectSummary' | translate}}</h3>
                <div style="margin-bottom: 10px;">
                    <span style="font-weight:bold;">{{'year' | translate}}: </span>
                    <span>{{ project.start_date }} - {{ project.end_date }}</span>
                </div>
                <div style="margin-bottom: 10px;">
                    <span style="font-weight:bold;">{{'roles' | translate}}: </span>
                    <span *ngFor="let role of project.roles; let i = index;">{{'rolesArray.' + role | translate}} <span *ngIf="i != (project.roles.length - 1)"> | </span></span>
                </div>
                <p [innerHTML]="('projectsArray.' + project.id + '.body') | translate"></p>
            </div>
            <!-- <a routerLink='/project/{{prev(Project.id}}' (click)="project = prevProject" class="project-direction-btns project-prev" [style.background-image]="'url(http:/' + prev(Project.main_img + ')'">
        {{prev(Project.title}}
        Previous Project
      </a>
      <a routerLink='/project/{{next(Project.id}}' (click)="changeProject(nextProject)" class="project-direction-btns project-next" [style.background-image]="'url(http:/' + next(Project.main_img + ')'">
        {{next(Project.title}}
        Next Project
      </a> -->
        </div>
        <div class="row">
            <div *ngIf="project.videos.length !== 0">
                <video
                    id="video"
                    preload="auto"
                    controls
                    poster="{{ project.main_img }}"
                    preload
                    playsinline
                    controlsList="nodownload"
                >
                    <source
                        *ngFor="let video of project.videos"
                        src="{{ video.url }}.mp4"
                        type="video/mp4"
                    />
                    <source
                        *ngFor="let video of project.videos"
                        src="{{ video.url }}.webm"
                        type="video/webm"
                    />
                    {{'noVideoSupport'| translate}}
                </video>
            </div>
                  <img *ngFor="let image of project.gallery"
                       [src]="image.url"
                       [style.width]="'100%'"
                       [style.paddingBottom]="'1rem'"
                       alt="image.alt"
                       loading="lazy" />
        </div>
    </div>
</ng-container>
