@if (project$ | async; as project) {
  <div
    class="project-detail-header"
    [style.background-image]="'url(' + project?.main_img + ')'"
  ></div>
  <div class="container">
    @if (project.project_url != '') {
      <a
        href="{{ project.project_url }}"
        class="project-link button button-primary"
        target="_blank"
        >{{'projectLink' | translate}}</a
        >
      }
      <div class="row">
        <div class="eight column" id="project-summary">
          <h3>{{'projectSummary' | translate}}</h3>
          <div style="margin-bottom: 10px;">
            <span style="font-weight:bold;">{{'year' | translate}}: </span>
            <span>{{ project.start_date | date:'LLL yyyy' }} - {{ project.end_date | date:'LLL yyyy' }}</span>
          </div>
          <div style="margin-bottom: 10px;">
            <span style="font-weight:bold;">{{'roles' | translate}}: </span>
            @for (role of project.roles; track role; let i = $index) {
              <span>{{'rolesArray.' + role | translate}} @if (i != (project.roles.length - 1)) {
                <span> | </span>
              }</span>
            }
          </div>
          <p [innerHTML]="('projectsArray.' + project.id + '.body') | translate"></p>
        </div>
        <!-- <a routerLink='/project/{{prev(Project.id}}' (click)="project = prevProject" class="project-direction-btns project-prev" [style.background-image]="'url(http:/' + prev(Project.main_img + ')'">
        {{prev(Project.title}}
        Previous Project
      </a>
      <a routerLink='/project/{{next(Project.id}}' (click)="changeProject(nextProject)" class="project-direction-btns project-next" [style.background-image]="'url(http:/' + next(Project.main_img + ')'">
        {{next(Project.title}}
        Next Project
      </a> -->
    </div>
    <div class="row">
      @if (project.videos.length !== 0) {
        <div>
          <video
            id="video"
            preload="auto"
            controls
            poster="{{ project.main_img }}"
            preload
            playsinline
            controlsList="nodownload"
            >
            @for (video of project.videos; track video) {
              <source
                src="{{ video.url }}.mp4"
                type="video/mp4"
                />
            }
            @for (video of project.videos; track video) {
              <source
                src="{{ video.url }}.webm"
                type="video/webm"
                />
            }
            {{'noVideoSupport'| translate}}
          </video>
        </div>
      }
      @for (image of project.gallery; track image) {
        <img
          [src]="image.url"
          [style.width]="'100%'"
          [style.paddingBottom]="'1rem'"
          alt="image.alt"
          loading="lazy" />
      }
    </div>
  </div>
}
