<div class="container">
  <h2><span>Introduction</span><hr></h2>
  <p>Hi there, I’m Kevin Newman, a developer, designer and hobbyist living in Canada. I like to make responsive websites, captivating videos and 3D models.
     In my off time, you can usually find me playing/making some video games, working on a side project, or doodling some little drawings. 
     I try to keep up with the current trends in technology by going to developer meetups in the area. 
  </p>
  <p>
    Currently working on a Unity game couch co-op multiplayer game. More to come soon.
  </p>
</div>
<div class="container">
  <h2><span>Work</span><hr></h2>
</div>
<div class="container job">
  <div class="columns six">
    <h3 class="job-title">3D Frontend Developer</h3>
    <div class="job-information">
      <h4 class="year">Oct 2017 - Feb 2018</h4>
      <h4 class="employer">GE</h4>
      <h4 class="location">Markham, CA</h4>
    </div>
    <ul>
      <li>Create 3D marketing web apps with Babylon for different divisions of GE</li>
      <li>Prototype and compare different Frontend frameworks to GE's current software solution</li>
      <li>Convert flash application to HTML5 application with Vue that publishes to web and desktop (Electron)</li>
    </ul>
    <br>
    <p>Babylon, Electron, Haxe, Vue, SVN, LESS</p>
  </div>
  <div class="columns six">
    <h3 class="job-title">Front-end Developer</h3>
    <div class="job-information">
      <h4 class="year">Feb 2017 - Oct 2017</h4>
      <h4 class="employer">Indegene</h4>
      <h4 class="location">Oakville, CA</h4>
    </div>
    <ul>
      <li>Angular 2 development of components </li>
      <li>Front end theming of Ionic 3 hybrid web and android app</li>
      <li>Work with remote team to plan and change backend services</li>
      <li>Manage offline android state </li>
      <li>Worked with team to implement redux into existing application</li>
      <li>Interviewing and onboarding new hires</li>
      <li>Internalization of app</li>
    </ul>
    <br>
    <p>Angular 2, Ionic 3, RXjs, Cordova, Nodejs, Git, Gulp, Webpack, SCSS</p>
  </div>
  <div class="columns six">
    <h3 class="job-title">Full Stack Web Developer</h3>
    <div class="job-information">
      <h4 class="year">Feb 2015 - Feb 2017</h4>
      <h4 class="employer">Digital Echidna</h4>
      <h4 class="location">London, CA</h4>
    </div>
    <ul>
      <li>Front-end theming of Drupal sites</li>
      <li>Back-end module development</li>
      <li>Python site scraping</li>
      <li>Drupal 8 code sprints : Ohio and Toronto</li>
      <li>Manage and update CodeIgniter site</li>
      <li>Onboard co-ops and new hires</li>
      <li>Meet AODA standards</li>
    </ul>
    <br>
    <p>Drupal 7/8, JQuery, SCSS, Python, PHP, MySQL</p>
  </div>
</div>

<div class="container side-projects">
  <h2><span>Projects</span><span><a routerLink="/projects">View All</a></span><hr></h2>
  <a [attr.href]="'project/' + project.id" [routerLink]="['/project', project.id]" class="six columns" *ngFor="let project of projects | async">
    <div class="project-holder"></div>
      <div class="img-holder">
        <img src="{{project.thumbnail_img}}" alt="{{project.title}}">
      </div>
      <h3>{{project.title}}</h3>
      <p [innerHtml]="project.body | truncate:[250, '...']"></p>
    </a>
</div>
<div class="container skills">
  <h2><span>Skills</span><hr></h2>
  <div class="four columns">
    <h3>Code</h3>
    <ul>
      <li>HTML5 - PHP - ES6 - C# - Bash - Typescript</li>
      <li>CSS3 - SCSS - LESS</li>
      <li>CodeIgniter - Laravel - Wordpress - Drupal7/8</li>
      <li>AngularJS/Angular 2 - JQuery - Ionic - Vue - React</li>
      <li>Highcharts - Babylon - RXjs</li>
      <li>MVC - OOP - Rest API - Redux</li>
      <li>Git - SVN</li>
      <li>Gulp - Webpack - Grunt</li>
      <li>NPM - Bower - Yarn</li>
    </ul>
  </div>
  <div class="four columns">
    <h3>Tools</h3>
    <ul>
      <li>PC - Mac</li>
      <li>Photoshop - Illustrator</li>
      <li>Sketch - AdobeXD</li>
      <li>After Effects - Premiere</li>
      <li>3ds Max - 4D Cinema - Blender</li>
      <li>Github - Bitbucket - Gitlab</li>
      <li>Unity</li>
    </ul>
  </div>
  <div class="four columns">
    <h3>Design</h3>
    <ul>
      <li>Mobile/Web design</li>
      <li>App design</li>
      <li>Modeling - Animating - Rigging</li>
      <li>Motion graphics</li>
      <li>Character concepting</li>
    </ul>
  </div>
</div>
<div class="container education">
  <h2><span>Education</span><hr></h2>
  <div class="four columns">
    <h3>Interactive Media Design</h3>
    <p>Fanshawe - 2011 -2013</p>
  </div>
  <div class="four columns">
    <h3>3d Character Design &amp; Animation</h3>
    <p>Fanshawe - 2013 -2014</p>
  </div>
  <div class="four columns">
    <h3>Interactive Media Specialist</h3>
    <p>Fanshawe - 2014 - 2015</p>
  </div>
</div>