<ul id="social-links">
    <li><a href="https://github.com/HellooooNewman" target="_blank" title="Github" rel="noopener"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    <li><a href="https://twitter.com/Helloooo_Newman" target="_blank" title="Twitter" rel="noopener"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="https://www.instagram.com/hellooooo_newman/" target="_blank" title="Instagram" rel="noopener"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="https://www.linkedin.com/in/kevin-newman-8744b163/" target="_blank" title="Linkedin" rel="noopener"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    <li><a href="mailto:contact@kevinnewman.ca?Subject=Coffee/Tea?" target="_blank" title="Email" rel="noopener"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
  </ul>